@use "./variables.scss" as *;
@use "sass:color";

:root {
  --background: #f5f5f5;
  --foreground: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f5f5;
    --foreground: #333333;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html,
body,
main {
  background: var(--background) !important;
}

.card {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  background: var(--background);
  width: 100%;
  flex: 1;
  padding: $container-padding;
  max-width: $container-max-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
